:host {
  --header-height: 185px;
  .sync-container {
    width: 100%;
    height: 100vh;
    .sync-header-wrapper {
      width: 100%;
      height: var(--header-height);
      margin-bottom: 10px;
    }

    .sync-content-wrapper {
      height: calc(100vh - var(--header-height));
      width: 100%;
      display: flex;

      .sync-content-left-wrapper {
        height: 100%;
        flex: 2;
      }

      .sync-content-center-wrapper {
        height: 100%;
        flex: 8;
      }

      .sync-content-right-wrapper {
        height: 100%;
        flex: 2;
      }
    }
  }
}
