<div [ngSwitch]="iconName">
  <div *ngSwitchCase="'files'">
    <svg class="list-icon">
      <use xlink:href="#files" />
    </svg>
  </div>
  <div *ngSwitchCase="'flow-diagram'">
    <svg class="list-icon">
      <use xlink:href="#flow-diagram" />
    </svg>
  </div>
  <div *ngSwitchCase="'diagram-icon'">
    <svg class="list-icon">
      <use xlink:href="#diagram-icon" />
    </svg>
  </div>
  <div *ngSwitchCase="'flow-chart'">
    <svg class="list-icon">
      <use xlink:href="#flow-chart" />
    </svg>
  </div>
  <div *ngSwitchCase="'structure'">
    <svg class="list-icon">
      <use xlink:href="#structure" />
    </svg>
  </div>
  <div *ngSwitchCase="'diagram-3'">
    <svg class="list-icon">
      <use xlink:href="#diagram-3" />
    </svg>
  </div>
  <div *ngSwitchCase="'uml'">
    <svg class="list-icon">
      <use xlink:href="#uml" />
    </svg>
  </div>
  <div *ngSwitchCase="'diagram-5'">
    <svg class="list-icon">
      <use xlink:href="#diagram-5" />
    </svg>
  </div>
  <div *ngSwitchCase="'people'">
    <svg class="list-icon">
      <use xlink:href="#people" />
    </svg>
  </div>
  <div *ngSwitchCase="'flow-chart-1'">
    <svg class="list-icon">
      <use xlink:href="#flow-chart-1" />
    </svg>
  </div>
  <div *ngSwitchCase="'monitoring'">
    <svg class="list-icon">
      <use xlink:href="#monitoring" />
    </svg>
  </div>
  <div *ngSwitchCase="'diagram-4'">
    <svg class="list-icon">
      <use xlink:href="#diagram-4" />
    </svg>
  </div>
  <div *ngSwitchCase="'timetable'">
    <svg class="list-icon">
      <use xlink:href="#timetable" />
    </svg>
  </div>
  <div *ngSwitchCase="'performance'">
    <svg class="list-icon">
      <use xlink:href="#performance" />
    </svg>
  </div>
  <div *ngSwitchCase="'diagram-1'">
    <svg class="list-icon">
      <use xlink:href="#diagram-1" />
    </svg>
  </div>
  <div *ngSwitchCase="'symbol'">
    <svg class="list-icon">
      <use xlink:href="#symbol" />
    </svg>
  </div>
  <div *ngSwitchCase="'the-sum-of'">
    <svg class="list-icon">
      <use xlink:href="#the-sum-of" />
    </svg>
  </div>
  <div *ngSwitchCase="'note-123'">
    <svg class="list-icon">
      <use xlink:href="#note-123" />
    </svg>
  </div>
  <div *ngSwitchCase="'checklist'">
    <svg class="list-icon">
      <use xlink:href="#checklist" />
    </svg>
  </div>
  <div *ngSwitchCase="'planning'">
    <svg class="list-icon">
      <use xlink:href="#planning" />
    </svg>
  </div>
  <div *ngSwitchCase="'report'">
    <svg class="list-icon">
      <use xlink:href="#report" />
    </svg>
  </div>
  <div *ngSwitchCase="'house'">
    <svg class="list-icon">
      <use xlink:href="#house" />
    </svg>
  </div>
  <div *ngSwitchDefault>'icon'</div>
</div>
