@import './assets/css/variable.scss'; // base scss variable

// Import syncfusion scss module
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-ribbon/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-ribbon/styles/material.css";
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-diagrams/styles/material.css';
@import "../node_modules/@syncfusion/ej2-angular-lists/styles/material.css";

// regular style toast
@import 'ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import 'ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';
// bootstrap 4
// @import 'ngx-toastr/toastr-bs4-alert';
// boostrap 5
// @import 'ngx-toastr/toastr-bs5-alert';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol-text-element {
  text-align: center;
  font-size: 10px;
  font-weight: Bold;
  line-height: 90%;
}

.point-circle {
  transform: scale(0.2, 0.2) translate(10px, 10px);
}

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Scrollbar Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the background color of the thumb */
}

/* Optional: Hover effect for the Thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.hr_nay {
  border-top: 1px solid #000;
  height: 90px;
  -moz-transform: rotate(-61deg);
  -o-transform: rotate(-61deg);
  -webkit-transform: rotate(-61deg);
  -ms-transform: rotate(-61deg);
  width: 80px;
  transform: rotate(-61deg);
}
