<div id="dialogNodeTableComm" class="dialog-group-of-people">
  <div class="d-flex m-b-8">
    <div><i>Change of Application Related to Communication</i></div>
  </div>
  <div class="dialog-group-of-people-content m-t-8" [formGroup]="customComponentForm">
    <div class="d-flex">
      <div class="line-height-20"></div>
      <div class="flex-1">
        Select Columns For Show:<br />
        <ejs-checkbox
          formControlName="communicationS1"
          cssClass="e-small"
          label="Communication"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="applicationS2"
          cssClass="e-small"
          label="Application Value"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS3"
          cssClass="e-small"
          label="Communication Function"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS4"
          cssClass="e-small"
          label="Communication Name"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS5"
          cssClass="e-small"
          label="Communication Subject"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="applicationS6"
          cssClass="e-small"
          label="Application Name"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="applicationS7"
          cssClass="e-small"
          label="Application"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS8"
          cssClass="e-small"
          label="Communication Date Time"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS9"
          cssClass="e-small"
          label="Communication Date"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS10"
          cssClass="e-small"
          label="Communication Time"
          labelPosition="After"
        ></ejs-checkbox>
        <br />
        <ejs-checkbox
          formControlName="communicationS11"
          cssClass="e-small"
          label="Communication Result"
          labelPosition="After"
        ></ejs-checkbox>
      </div>
    </div>
  </div>
</div>
