<sync-dialog
  [visible]="visible"
  (visibleChange)="handleVisibleChange($event)"
  [isShowFooter]="false"
  [dialogSize]="EDialogSize.MEDIUM"
>
  <div class="settings-wrapper">
    <div class="video-recording">
      <div class="title">Video Recording</div>
      <div class="hardwareSettings">
        <input (ngModelChange)="onCheckBoxHardware($event)" [(ngModel)]="hardWareEncode" type="checkbox" id="hardwareSettings" name="hardwareSettings">
        <span>Enable Hardware Encoding</span>
      </div>
      <div class="audioOutSettings">
        <input (ngModelChange)="onCheckBoxAudioOut($event)" [(ngModel)]="audioOut" type="checkbox" id="audio-out" name="audioOut">
        <span class="label-with-select">Audio out</span>
        <select #audioOutSelection name="list-audio-out" id="audio-out-selection" [(ngModel)]="audioOutSelectionValue" (change)="onAudioOutSelectChange($event)">
          <option *ngFor="let item of audioOutSelectionOptions" [value]="item.value">{{item.text}}</option>
        </select>
      </div>
      <div class="audioInSettings">
        <input (ngModelChange)="onCheckBoxAudioIn($event)" [(ngModel)]="audioIn" type="checkbox" id="audio-in" name="audioIn">
        <span class="label-with-select">Audio in</span>
        <select #audioInSelection name="list-audio-in" id="audio-in-selection" [(ngModel)]="audioInSelectionValue" (change)="onAudioInSelectChange($event)">
          <option *ngFor="let item of audioInSelectionOptions" [value]="item.value">{{item.text}}</option>
        </select>
      </div>
    </div>
    <div class="audio-recording">
      <div class="title">Audio Recording</div>
      <div id="record-from-playback">
        <input (ngModelChange)="onChangeRadioRecord($event)" [(ngModel)]="recordValue" type="radio" id="audio-recording-playback" name="audio_recording" value="true">
        <span>Record from playback</span>
      </div>
      <div class="record-from-mic">
        <input (ngModelChange)="onChangeRadioRecord($event)" [(ngModel)]="recordValue" type="radio" id="audio-recording-mic" name="audio_recording" value="false">
        <span class="label-with-select">Record from mic</span>
        <select #micSettingSelection name="list-mic-setting" id="mic-setting-selection" [(ngModel)]="micSelectionValue" (change)="onMicSelectChange($event)">
          <option *ngFor="let item of micInSelectionOptions" [value]="item.value">{{item.text}}</option>
        </select>
      </div>
    </div>
  </div>
</sync-dialog>
