:root {
  --white:#FFFFFF;

  --red-100:#FFE1E7;
  --red-200:#FFC8D6;
  --red-300:#FF9CB3;
  --red-400:#FF2E68;
  --red-500:#E1024F;
  --red-600:#D1003F;

  --violet-100:#E5E9FA;
  --violet-200:#CFD5F6;
  --violet-300:#9398E6;
  --violet-400:#7977DB;
  --violet-500:#695ECD;
  --violet-600:#5A4EB4;

  --green-100:#E0F8E9;
  --green-200:#C3EFD4;
  --green-300:#95E0B3;
  --green-400:#5FC98A;
  --green-500:#40C174;
  --green-600:#30A65F;

  --yellow-100:#FFF9EB;
  --yellow-200:#FFEEC6;
  --yellow-300:#FFDB88;
  --yellow-400:#FFCC67;
  --yellow-500:#FFBF41;
  --yellow-600:#F8B83A;

  --orange-100:#FFEDD5;
  --orange-200:#FED8AA;
  --orange-300:#FEBB73;
  --orange-400:#FC943B;
  --orange-500:#FA781A;
  --orange-600:#EB5A0B;

  --blue-100:#DFEAFA;
  --blue-200:#C6DAF7;
  --blue-300:#9FC2F1;
  --blue-400:#71A1E9;
  --blue-500:#4A7CE0;
  --blue-600:#3B64D5;

  --brand-100:#E1F8F5;
  --brand-200:#D1F0ED;
  --brand-300:#B9E8E4;
  --brand-400:#33BBB2;
  --brand-500:#00AA9F;
  --brand-600:#0AA095;

  --gray-50:#F2F5F7;
  --gray-100:#E7EAED;
  --gray-200:#D8DCDF;
  --gray-300:#B9BEC0;
  --gray-400:#999999;
  --gray-500:#646464;
  --gray-600:#3D3D3D;
  --gray-700:#202020;
}
