<ejs-dialog
  id="dialog"
  #ejDialog
  width="250px"
  [target]="targetElement"
  [buttons]="buttons"
  isModal="true"
  [visible]="visible"
  showCloseIcon="true"
  (close)="visibleChange.emit(false)"
  (overlayClick)="onOverlayClick()"
>
  <ng-template #header>
    <ng-container
      *ngTemplateOutlet="headerTpl || defaultHeaderTpl"
    ></ng-container>
  </ng-template>

  <ng-template #content>
    <ng-content></ng-content>
  </ng-template>

  <ng-template #footerTemplate>
    <ng-container
      *ngTemplateOutlet="footerTpl || defaultFooterTpl"
    ></ng-container>
  </ng-template>

</ejs-dialog>

<ng-template #defaultHeaderTpl>
  <div class="sync-header">
    {{title}}
  </div>
</ng-template>
<ng-template #defaultFooterTpl>
  <div>
    <button ejs-button cssClass="e-success">Success</button>
    <button ejs-button cssClass="e-danger">Danger</button>
  </div>
</ng-template>

<div #container class="root-container"></div>
