<div class="content-right-wrapper">
  <div class="section-one-wrapper">
    <div class="section-header">
      Models
    </div>
    <div class="section-content">
      <sync-tree-view [dataSource]="treeViewData" [activeItem]="currentModel" (clickTreeItem)="handleClickTreeItem($event)"></sync-tree-view>
    </div>
  </div>

  <div class="section-two-wrapper">
    <div class="section-header">
      Task List
    </div>
    <div class="section-content">
      <div class="section-options">
        <div class="option">Task Name</div>
        <div class="option">Priority</div>
      </div>
    </div>
  </div>
</div>
