:host ::ng-deep #default {
  height: 158px;

  @keyframes FadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #default_filemenu {
    background-color: var(--green-600);
    color: var(--white);

    &:hover {
      color: var(--white);
    }
  }

  .e-content {
    height: calc(158px - 44px) !important;

    .e-item.e-active {
      animation: FadeOut 600ms cubic-bezier(0.25, 0.1, 0.25, 1) 1000s 1 normal none running !important;
    }

    .e-item {
      background: white;
      height: 100% !important;

      .e-ribbon-tab-item {
        height: 100% !important;

        .e-ribbon-group,
        .e-ribbon-group-container {
          height: 100% !important;

          .e-ribbon-group-content {
            height: 78% !important;

            .e-ribbon-item {
              .icon {
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
              }

              .icon-small {
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
              }

              .icon-large {
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: 120px;
                height: 120px;
              }

              .icon-medium {
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: 70px;
                height: 70px;
              }

              .icon-copy {
                background-image: url("~src/assets/images/clipboardcopy.png");
              }

              .icon-paste {
                background-image: url("~src/assets/images/icon-paste1.jpg");
              }

              .icon-cut {
                background-image: url("~src/assets/images/ClipboardCut.png");
              }

              .icon-delete {
                background-image: url("~src/assets/images/clipboardelete.png");
              }

              .icon-clipBoard {
                background-image: url("~src/assets/icons/copy-to-clipboard.svg");
              }

              .icon-undo1 {
                background-image: url("~src/assets/images/undo1.png");
              }

              .icon-fill-menu {
                background-image: url("~src/assets/images/fill-menu.png");
              }

              .icon-lineMenu {
                background-image: url("~src/assets/icons/linemenu.svg");
              }

              .icon-text-menu {
                background-image: url("~src/assets/icons/text-menu.svg");
              }

              .icon-start-menu {
                background-image: url("~src/assets/icons/start-menu.svg");
              }

              .icon-end-menu {
                background-image: url("~src/assets/icons/end-menu.svg");
              }

              .icon-point-menu {
                background-image: url("~src/assets/icons/point-menu.svg");
              }

              .icon-text-menu2 {
                background-image: url("~src/assets/icons/text-menu2.svg");
              }

              .icon-line-menu {
                background-image: url("~src/assets/icons/line-menu.svg");
              }

              .icon-autoconnector {
                background-image: url("~src/assets/icons/autoconnector.svg");
              }

              .icon-node-menu {
                background-image: url("~src/assets/icons/node-menu.svg");
              }

              .icon-selectedentityedit {
                background-image: url("~src/assets/images/selectedentityedit.png");
              }

              .icon-undolastactionedit {
                background-image: url("~src/assets/images/undolastactionedit.png");
              }

              .icon-theorydomain {
                background-image: url("~src/assets/images/theorydomain.png");
              }

              .icon-communicationdomain {
                background-image: url("~src/assets/images/communicationdomain.png");
              }

              .icon-error {
                background-image: url("~src/assets/images/error.png");
              }

              .icon-optionmix1 {
                background-image: url("~src/assets/images/optionmix1.png");
              }

              .icon-captureimageproject {
                background-image: url("~src/assets/images/captureimageproject.png");
              }

              .icon-editimageproject {
                background-image: url("~src/assets/images/editimageproject.png");
              }

              .icon-editvideoproject {
                background-image: url("~src/assets/images/editvideoproject.png");
              }

              .icon-recordaudioproject1 {
                background-image: url("~src/assets/images/recordaudioproject1.png");
              }

              .icon-settingproject1 {
                background-image: url("~src/assets/images/settingproject1.png");
              }

              .icon-startproject1 {
                background-image: url("~src/assets/images/startproject1.png");
              }

              .icon-simulationproject {
                background-image: url("~src/assets/images/simulationproject.png");
              }

              .icon-closeproject {
                background-image: url("~src/assets/images/closeproject.png");
              }

              .icon-subfunction {
                background-image: url("~src/assets/images/subfunction.png");
              }

              .icon-subapplication {
                background-image: url("~src/assets/images/subapplication.png");
              }

              .icon-subresult {
                background-image: url("~src/assets/images/subresult.png");
              }

              .icon-entityview {
                background-image: url("~src/assets/images/entityview.png");
              }

              .icon-panzoomview {
                background-image: url("~src/assets/images/panzoomview.png");
              }

              .icon-modelview {
                background-image: url("~src/assets/images/modelview.png");
              }

              .icon-tasklistview {
                background-image: url("~src/assets/images/tasklistview.png");
              }

              .icon-showhidemodelsview {
                background-image: url("~src/assets/images/showhidemodelsview.png");
              }

              .icon-brackets {
                background-image: url("~src/assets/images/brackets.png");
              }

              .icon-decoratedEquation {
                background-image: url("~src/assets/images/decoratedEquation.png");
              }

              .icon-sumproduct {
                background-image: url("~src/assets/images/sumproduct.png");
              }

              .icon-integrals {
                background-image: url("~src/assets/images/integrals.png");
              }

              .icon-script {
                background-image: url("~src/assets/images/script.png");
              }

              .icon-divroot {
                background-image: url("~src/assets/images/divroot.png");
              }

              .icon-arrowEquation {
                background-image: url("~src/assets/images/arrowEquation.png");
              }

              .icon-underbar {
                background-image: url("~src/assets/images/underbar.png");
              }

              .icon-decoratedCharacter {
                background-image: url("~src/assets/images/decoratedCharacter.png");
              }

              .icon-matrix {
                background-image: url("~src/assets/images/matrix.png");
              }

              .icon-boxes {
                background-image: url("~src/assets/images/boxes.png");
              }

              .icon-symbols {
                background-image: url("~src/assets/images/symbols.png");
              }

              .icon-greekcapital {
                background-image: url("~src/assets/images/greekcapital.png");
              }

              .icon-greeksmall {
                background-image: url("~src/assets/images/greeksmall.png");
              }

              .icon-arrows {
                background-image: url("~src/assets/images/arrows.png");
              }

              .icon-container-menu-insert {
                background-image: url("~src/assets/images/container-menu-insert.png");
              }

              .icon-list-menu-insert {
                background-image: url("~src/assets/images/list-menu-insert.png");
              }

              .icon-picture-menu-insert {
                background-image: url("~src/assets/images/picture-menu-insert.png");
              }

              .icon-Function_Icon1 {
                background-image: url("~src/assets/images/Function_Icon1.png");
              }

              .icon-Word_Icon1 {
                background-image: url("~src/assets/images/Word_Icon1.png");
              }

              .icon-Application_Icon1 {
                background-image: url("~src/assets/images/Application_Icon1.png");
              }

              .icon-Relationship_Icon1 {
                background-image: url("~src/assets/images/Relationship_Icon1.png");
              }

              .icon-point {
                background-image: url("~src/assets/images/point.png");
              }

              .icon-left-arrow {
                background-image: url("~src/assets/images/left-arrow.png");
              }

              .icon-right-arrow {
                background-image: url("~src/assets/images/right-arrow.png");
              }

              .icon-up-arrow {
                background-image: url("~src/assets/images/up-arrow.png");
              }

              .icon-down-arrow {
                background-image: url("~src/assets/images/down-arrow.png");
              }

              .icon-align-left {
                background-image: url("~src/assets/images/align-left.png");
              }

              .icon-align-right {
                background-image: url("~src/assets/images/align-right.png");
              }

              .icon-align-center {
                background-image: url("~src/assets/images/align-center.png");
              }

              .icon-sort-down {
                background-image: url("~src/assets/images/sort-down.png");
              }

              .icon-top-align {
                background-image: url("~src/assets/images/top-align.png");
              }

              .icon-align {
                background-image: url("~src/assets/images/align.png");
              }

              .icon-width {
                background-image: url("~src/assets/images/width.png");
              }

              .icon-height {
                background-image: url("~src/assets/images/height.png");
              }

              .icon-size-square {
                background-image: url("~src/assets/images/size-square.png");
              }

              .icon-grid {
                background-image: url("~src/assets/images/grid.png");
              }

              .icon-axis {
                background-image: url("~src/assets/images/axis.png");
              }

              .icon-length {
                background-image: url("~src/assets/images/length.png");
              }

              .icon-left-alignment {
                background-image: url("~src/assets/images/left-alignment.png");
              }

              .icon-program {
                background-image: url("~src/assets/images/program.png");
              }

              .icon-reconrdvideoproject1 {
                background-image: url("~src/assets/images/reconrdvideoproject1.png");
              }

              .icon-minus {
                background-image: url("~src/assets/images/minus.png");
              }

              .icon-ease {
                background-image: url("~src/assets/images/ease.png");
              }

              .icon-ellipse {
                transform: rotate(90deg);
                background-image: url("~src/assets/images/ellipse.png");
              }

              .icon-line-chart {
                background-image: url("~src/assets/images/line-chart.png");
              }

              .icon-theory1 {
                background-image: url("~src/assets/images/speaklogic/Theory1_Icon.png");
              }

              .icon-theory2 {
                background-image: url("~src/assets/images/speaklogic/Theory2_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental2 {
                background-image: url("~src/assets/images/speaklogic/Fundamental2_Icon.png");
              }

              .icon-function2 {
                background-image: url("~src/assets/images/speaklogic/Function2_Icon.png");
              }

              .icon-time {
                background-image: url("~src/assets/images/speaklogic/Time_Icon.png");
              }

              .icon-derivative {
                background-image: url("~src/assets/images/speaklogic/Derivative_Icon.png");
              }

              .icon-instrusment {
                background-image: url("~src/assets/images/speaklogic/Instrusment_Icon.png");
              }

              .icon-stability {
                background-image: url("~src/assets/images/speaklogic/Stability_Icon.png");
              }

              .icon-theorem {
                background-image: url("~src/assets/images/speaklogic/Theorem_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

              .icon-fundamental1 {
                background-image: url("~src/assets/images/speaklogic/Fundamental1_Icon.png");
              }

            }

            .e-input-group {
              border-width: 1px;
              border-color: var(--gray-300);
            }
          }
        }
      }
    }
  }
}

.min-w-40 {
  min-width: 40px !important;
}

.min-w-70 {
  min-width: 70px !important;
}

.min-w-90 {
  min-width: 90px !important;
}

.min-w-100 {
  min-width: 100px !important;
}

.min-w-120 {
  min-width: 120px !important;
}

.min-w-200 {
  min-width: 200px !important;
}

.justify-left {
  justify-content: left;
}

.border-1 {
  border: 1px solid black;
}

.flex-row-center {
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
}

.length-setting {
  padding: 7px !important;
}

::ng-deep {
  ejs-listview {
    .e-list-parent {
      display: flex;
      align-items: center;

      .e-list-item {
        height: 100% !important;
      }
    }
  }
}

// Dropdown CSS

#function-dropdown,
#word-dropdown,
#application-dropdown,
#relationship-dropdown,
#boxes-dropdown,
#greek-capital-dropdown,
#greek-small-dropdown,
#script-dropdown,
#matrix-dropdown,
#bar-dropdown,
#frac-dropdown,
#arrow-dropdown,
#decorator-dropdown,
#sum-dropdown,
#bracket-dropdown,
#integral-dropdown,
#accent-dropdown,
#arrow-code-dropdown,
#operator-dropdown,
#container-dropdown,
#theory1-dropdown,
#theory2-dropdown,
#fundamental1-dropdown,
#fundamental2-dropdown,
#function2-dropdown,
#time-dropdown,
#derivative-dropdown,
#instrusment-dropdown,
#stability-dropdown,
#theorem-dropdown {
  padding: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-height: 700px;
  overflow-y: auto;

  .function-dropdown-item {
    padding: 18px;

    &:hover {
      cursor: pointer;
      background: var(--blue-400);
    }
  }

  .container-dropdown-item {
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
      background: var(--blue-400);
      cursor: pointer;
    }
  }
}

#list-dropdown .list-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-300);

  .group {
    display: flex;
    flex-direction: column;

    &-title {
      background: var(--blue-100);
      padding: 8px;
      margin: 12px 0;
    }

    &-content {
      display: flex;
      align-items: center;
      padding: 12px;

      &-item {
        &:hover {
          background: var(--blue-400);
          cursor: pointer;
        }

        padding: 18px;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

::ng-deep.e-ribbon-item > button:hover {
  background-color: #f0f0f0 !important;
}

::ng-deep.e-split-btn-wrapper > button:hover {
  background-color: #f0f0f0 !important;
}

.editing-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .editing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 10px;
    border: none;
    background-color: #F0F0F0;

    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }

    &:hover {
      cursor: pointer;
      background-color: #86cbea;
    }
  }
}
