:host ::ng-deep #default {
  height: 158px;

  .e-content {
    height: calc(158px - 44px) !important;

    .e-item {
      height: 100% !important;

      .e-ribbon-tab-item {
        height: 100% !important;

        .e-ribbon-group, .e-ribbon-group-container {
          height: 100% !important;

          .e-ribbon-group-content {
            height: 78% !important;

            .e-ribbon-item {
              .icon {
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
              }
              .icon-copy {
                background-image: url("/assets/images/clipboardcopy.png");
              }
              .icon-paste {
                background-image: url("/assets/images/icon-paste1.jpg");
              }
              .icon-cut {
                background-image: url("/assets/images/ClipboardCut.png");
              }
              .icon-delete {
                background-image: url("/assets/images/clipboardelete.png");
              }
              .icon-clipBoard {
                background-image: url("/assets/icons/copy-to-clipboard.svg");
              }
              .icon-undo1 {
                background-image: url("/assets/images/undo1.png");
              }
              .icon-fill-menu {
                background-image: url("/assets/images/fill-menu.png");
              }
              .icon-lineMenu {
                background-image: url("/assets/icons/linemenu.svg");
              }
              .icon-text-menu {
                background-image: url("/assets/icons/text-menu.svg");
              }
              .icon-start-menu {
                background-image: url("/assets/icons/start-menu.svg");
              }
              .icon-end-menu {
                background-image: url("/assets/icons/end-menu.svg");
              }
              .icon-point-menu {
                background-image: url("/assets/icons/point-menu.svg");
              }
              .icon-text-menu2 {
                background-image: url("/assets/icons/text-menu2.svg");
              }
              .icon-line-menu {
                background-image: url("/assets/icons/line-menu.svg");
              }
              .icon-autoconnector {
                background-image: url("/assets/icons/autoconnector.svg");
              }
              .icon-node-menu {
                background-image: url("/assets/icons/node-menu.svg");
              }
              .icon-selectedentityedit {
                background-image: url("/assets/images/selectedentityedit.png");
              }
              .icon-undolastactionedit {
                background-image: url("/assets/images/undolastactionedit.png");
              }
              .icon-theorydomain {
                background-image: url("/assets/images/theorydomain.png");
              }
              .icon-communicationdomain {
                background-image: url("/assets/images/communicationdomain.png");
              }
              .icon-error {
                background-image: url("/assets/images/error.png");
              }
              .icon-optionmix1 {
                background-image: url("/assets/images/optionmix1.png");
              }
              .icon-captureimageproject {
                background-image: url("/assets/images/captureimageproject.png");
              }
              .icon-editimageproject {
                background-image: url("/assets/images/editimageproject.png");
              }
              .icon-reconrdvideoproject1 {
                background-image: url("/assets/images/reconrdvideoproject1.png");
              }
              .icon-recordaudioproject1 {
                background-image: url("/assets/images/recordaudioproject1.png");
              }
              .icon-settingproject1 {
                background-image: url("/assets/images/settingproject1.png");
              }
              .icon-startproject1 {
                background-image: url("/assets/images/startproject1.png");
              }
              .icon-simulationproject {
                background-image: url("/assets/images/simulationproject.png");
              }
              .icon-closeproject {
                background-image: url("/assets/images/closeproject.png");
              }
              .icon-subfunction {
                background-image: url("/assets/images/subfunction.png");
              }
              .icon-subapplication {
                background-image: url("/assets/images/subapplication.png");
              }
              .icon-subresult {
                background-image: url("/assets/images/subresult.png");
              }
              .icon-entityview {
                background-image: url("/assets/images/entityview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-modelview {
                background-image: url("/assets/images/modelview.png");
              }
              .icon-tasklistview {
                background-image: url("/assets/images/tasklistview.png");
              }
              .icon-showhidemodelsview {
                background-image: url("/assets/images/showhidemodelsview.png");
              }
              .icon-brackets {
                background-image: url("/assets/images/brackets.png");
              }
              .icon-decoratedEquation {
                background-image: url("/assets/images/decoratedEquation.png");
              }
              .icon-sumproduct {
                background-image: url("/assets/images/sumproduct.png");
              }
              .icon-integrals {
                background-image: url("/assets/images/integrals.png");
              }
              .icon-script {
                background-image: url("/assets/images/script.png");
              }
              .icon-divroot {
                background-image: url("/assets/images/divroot.png");
              }
              .icon-arrowEquation {
                background-image: url("/assets/images/arrowEquation.png");
              }
              .icon-underbar {
                background-image: url("/assets/images/underbar.png");
              }
              .icon-decoratedCharacter {
                background-image: url("/assets/images/decoratedCharacter.png");
              }
              .icon-matrix {
                background-image: url("/assets/images/matrix.png");
              }
              .icon-boxes {
                background-image: url("/assets/images/boxes.png");
              }
              .icon-symbols {
                background-image: url("/assets/images/symbols.png");
              }
              .icon-greekcapital {
                background-image: url("/assets/images/greekcapital.png");
              }
              .icon-greeksmall {
                background-image: url("/assets/images/greeksmall.png");
              }
              .icon-arrows {
                background-image: url("/assets/images/arrows.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }
              .icon-panzoomview {
                background-image: url("/assets/images/panzoomview.png");
              }

            }

            .e-input-group {
              border-width: 1px;
              border-color: var(--gray-300);
            }
          }
        }
      }
    }
  }
}

.min-w-70 {
  min-width: 70px !important;
}
.min-w-90 {
  min-width: 90px !important;
}
.min-w-100 {
  min-width: 100px !important;
}
.min-w-120 {
  min-width: 120px !important;
}
.min-w-200 {
  min-width: 200px !important;
}

.justify-left {
  justify-content: left;
}

.border-1 {
  border: 1px solid black ;
}
