:host ::ng-deep #default {
  height: 158px;

  .e-content {
    height: calc(158px - 44px) !important;

    .e-item {
      height: 100% !important;

      .e-ribbon-tab-item {
        height: 100% !important;

        .e-ribbon-group, .e-ribbon-group-container {
          height: 100% !important;

          .e-ribbon-group-content {
            height: 78% !important;
          }
        }
      }
    }
  }
}

.min-w-70 {
  min-width: 70px !important;
}
.min-w-90 {
  min-width: 90px !important;
}
.min-w-100 {
  min-width: 100px !important;
}
.min-w-120 {
  min-width: 120px !important;
}
.min-w-200 {
  min-width: 200px !important;
}

.justify-left {
  justify-content: left;
}
