<ejs-ribbon
  id="default"
  [fileMenu]="ribbon.fileSettings"
  (created)="created($event)"
  (tabSelected)="tabSelected($event)"
>
  <e-ribbon-tabs>
    <e-ribbon-tab header="Home">
      <e-ribbon-groups>
        <e-ribbon-group
          header="Clipboard"
          id="clipboard"
          groupIconCss="e-icons e-paste"
          [showLauncherIcon]="false"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.copyButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.pasteSettings"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.cutButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.deleteButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.exportButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>

        <e-ribbon-group header="Undo Action">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.undoButton"
                ></e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>

        <e-ribbon-group
          header="Format"
          orientation="Column"
          [enableGroupOverflow]="true"
          [isCollapsible]="false"
          groupIconCss="e-icons e-bold"
          cssClass="font-group"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="smallSize"
                  [buttonSettings]="ribbon.alignLeftButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="smallSize"
                  [buttonSettings]="ribbon.boldButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="smallSize"
                  [buttonSettings]="ribbon.alginCenterButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="smallSize"
                  [buttonSettings]="ribbon.italicButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="smallSize"
                  [buttonSettings]="ribbon.alignRightButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="smallSize"
                  [buttonSettings]="ribbon.underlineButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="ComboBox"
                  [comboBoxSettings]="ribbon.fontstyleSettings"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="ComboBox"
                  [comboBoxSettings]="ribbon.fontsizeSettings"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>

        <e-ribbon-group
          header="Style"
          [isCollapsible]="false"
          groupIconCss="e-icons e-edit"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.fillButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.lineButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.textButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.startButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.endButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>

        <e-ribbon-group
          header="Annotation"
          [isCollapsible]="false"
          groupIconCss="e-icons e-edit"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.pointerButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.text2Button"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.line2Button"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.rectangularButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.curvedLineButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.ellipseButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.ascendantButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>

        <e-ribbon-group header="Communication Link">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.autoConnectorButton"
                ></e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>

        <e-ribbon-group header="Node Item">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="SplitButton"
                  [splitButtonSettings]="ribbon.nodeSplitButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="Insert">
      <e-ribbon-groups>
        <e-ribbon-group header="Diagram Parts" [isCollapsible]="false">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.containerSettings"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.listSettings"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.pictureButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group
          header=""
          id="illustration"
          orientation="Row"
          [enableGroupOverflow]="true"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  [buttonSettings]="ribbon.fromClipboardButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Container" [isCollapsible]="false">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.funcButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.applicationSettings"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.resultButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.collectionButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.dictionaryButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.areaButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Speak Logic">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.theory1Dropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.theory2Dropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.fundamentalDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.fundamental2Dropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.theoryFunctionDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [type]="hiddenSpeakLogicCommunication ? 'None' : 'DropDown'"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.timeDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [type]="hiddenSpeakLogicCommunication ? 'None' : 'DropDown'"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.derivativeDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [type]="hiddenSpeakLogicCommunication ? 'None' : 'DropDown'"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.instrumentDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [type]="hiddenSpeakLogicCommunication ? 'None' : 'DropDown'"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.stabilityDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [type]="hiddenSpeakLogicCommunication ? 'None' : 'DropDown'"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.theoremDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="Equations">
      <e-ribbon-groups>
        <e-ribbon-group header="">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.bracketDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.decoratorDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.sumProductDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.integralDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.scriptDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.factionRadicalDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.labeledArrowDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.underbarOverbarDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.accentPrimeDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.matrixDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.boxesDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.operatorDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.greekCapitalDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.greekSmallDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="DropDown"
                  [allowedSizes]="largeSize"
                  [dropDownSettings]="ribbon.arrowDropdown"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="Edit">
      <e-ribbon-groups>
        <e-ribbon-group header="Entity">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.selectedEntityButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Undo Action">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.undoLastActionButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="Project">
      <e-ribbon-groups>
        <e-ribbon-group header="Start">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.startProjectButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.configureWarningMsgButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.applicationSettingButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Video & Image">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.captureImgButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.editImgButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.recordVideoButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.editVideoButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.recordAudioButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.settingsButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Simulation">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.simulateButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.debugButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.stepIntoButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.abortButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.stopButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.simulationSettingButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Finish">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.closeProjectButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.openProjectButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="View">
      <e-ribbon-groups>
        <e-ribbon-group
          header="Open"
          orientation="Row"
          groupIconCss="e-icons e-print"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.subFuncButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.subApplicationButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.subResultButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group
          header="Zoom"
          orientation="Column"
          [isCollapsible]="false"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.fitWindowButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.pageWidthButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group
          header="Show"
          orientation="Column"
          [isCollapsible]="false"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.showTooltipButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.allowCrossButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.imgWidthFrameButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.rulerButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.gridButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.pageBreakButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group
          header="Show Entities"
          [isCollapsible]="false"
          orientation="Row"
        >
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.entityLibraryButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.panZoomButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.modelViewButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.viewListButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="" [isCollapsible]="false">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.showHideModelButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="" [isCollapsible]="false">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  [allowedSizes]="largeSize"
                  type="Button"
                  [buttonSettings]="ribbon.showHideConnectionPointButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="Layout">
      <e-ribbon-groups>
        <e-ribbon-group header="Nudge and Pan">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.panToolButton"
                ></e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.arrowLeftButton">
                </e-ribbon-item>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.arrowUpButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.arrowRightButton"
                >
                </e-ribbon-item>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.arrowDownButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Align" orientation="Column">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.align1Button">
                </e-ribbon-item>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.align2Button">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.align3Button">
                </e-ribbon-item>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.align4Button">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.align5Button">
                </e-ribbon-item>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.align6Button">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Size" orientation="Column">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.equalHorizonButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.equalVerticalButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.increaseHorizonButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.increaseVerticalButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.decreaseHorizonButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.decreaseVerticalButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="" orientation="Column">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.sameWidthButton">
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.sameHeightButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.sameSizeButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Snap" orientation="Column">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.snapGridButton">
                </e-ribbon-item>
                <e-ribbon-item type="Button" [buttonSettings]="ribbon.snapRulerButton">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.snapGuideLineButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
        <e-ribbon-group header="Center" orientation="Row">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.modelHorizonButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.modelVerticalButton"
                >
                </e-ribbon-item>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.sizeToWindowPointButton"
                >
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>

    <e-ribbon-tab header="Domain">
      <e-ribbon-groups>
        <e-ribbon-group header="Identification">
          <e-ribbon-collections>
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.communicationButton"
                  [disabled]="(domain$ | async) === EDomain.COMMUNICATION">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection
              >
            <e-ribbon-collection>
              <e-ribbon-items>
                <e-ribbon-item
                  type="Button"
                  [buttonSettings]="ribbon.theoryButton"
                  [disabled]="(domain$ | async) === EDomain.THEORY">
                </e-ribbon-item>
              </e-ribbon-items>
            </e-ribbon-collection>
          </e-ribbon-collections>
        </e-ribbon-group>
      </e-ribbon-groups>
    </e-ribbon-tab>
  </e-ribbon-tabs>
</ejs-ribbon>

<!-- template ribbon item -->
<!-- <e-ribbon-item type="Template" [itemTemplate]="itemTemplate">
  <ng-template #itemTemplate let-data="">
    <span class="ribbonTemplate ">
      <span class="e-icons e-video"></span>
      <span class="text">Video</span>
    </span>
  </ng-template>
</e-ribbon-item> -->

<div id="container-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1">
    <div *ngFor="let item of ribbon.containerDropdownData" class="container-dropdown-item">
      <img [src]="item.img" alt="img"/>
      <span>{{ item.text }}</span>
    </div>
  </ng-container>
</div>

<div id="list-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1">
    <div class="list-wrapper">
      <div *ngFor="let item of ribbon.listDropdownData" class="group">
        <div class="group-title">
          {{ item.group }}
        </div>
        <div class="group-content">
          <div class="group-content-item" *ngFor="let data of item.items">
            <img [src]="data.img" alt="img"/>
            <span>{{ data.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div id="function-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.COMMUNICATION">
    <div
      *ngFor="let item of ribbon.functionDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="word-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.COMMUNICATION">
    <div *ngFor="let item of ribbon.wordDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="application-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.COMMUNICATION">
    <div
      *ngFor="let item of ribbon.applicationDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="relationship-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.COMMUNICATION">
    <div
      *ngFor="let item of ribbon.relationshipDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="boxes-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.boxesDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="greek-capital-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.greekCapitalDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      {{ item.text }}
    </div>
  </ng-container>
</div>

<div id="greek-small-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.greekSmallDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      {{ item.text }}
    </div>
  </ng-container>
</div>
<div id="arrow-code-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.arrowCodeDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      {{ item.text }}
    </div>
  </ng-container>
</div>
<div id="operator-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.operatorDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      {{ item.text }}
    </div>
  </ng-container>
</div>
<div id="script-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.scriptDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="matrix-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.matrixDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="bar-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.barDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="frac-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.fracDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="arrow-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.arrowDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="decorator-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.decoratorDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="sum-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.sumDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="bracket-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.bracketDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="integral-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div
      *ngFor="let item of ribbon.integralDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="accent-dropdown">
  <ng-container *ngIf="selectedTabIndex === 2">
    <div *ngFor="let item of ribbon.accentDropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="theory1-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div *ngFor="let item of ribbon.theory1DropdownData" class="function-dropdown-item" (click)="handleInsert(item)">
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="theory2-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.theory2DropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="fundamental1-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.fundamentalDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="fundamental2-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.fundamental2DropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="function2-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.theoryFunctionDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="time-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1  && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.timeDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="derivative-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1  && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.derivativeDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="instrusment-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1  && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.instrumentDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="stability-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.stabilityDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<div id="theorem-dropdown">
  <ng-container *ngIf="selectedTabIndex === 1 && (domain$ | async) === EDomain.THEORY">
    <div
      *ngFor="let item of ribbon.theoremDropdownData"
      class="function-dropdown-item"
      (click)="handleInsert(item)"
    >
      <img [src]="item.img" alt="img"/>
    </div>
  </ng-container>
</div>

<sync-dialog [visible]="isShowModal" (visibleChange)="isShowModal = !isShowModal" [isShowFooter]="false" [dialogSize]="EDialogSize.MEDIUM">
  <div class="editing-wrapper">
    <div class="editing-item" *ngFor="let item of fakeData" (click)="handleClickAction(item)">
      <img [src]="item.img" alt="img">
      <span>{{item.text}}</span>
    </div>
  </div>
</sync-dialog>
